.backStage-content {
  height: calc(100vh);

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      display: flex;
      align-items: center;

      p,
      h1 {
        margin: 0 0 0 10px;
        color: #FFFFFF;
      }

      .user-icon {
        color: #FFFFFF;
        margin-right: 10px;

        svg {
          width: 25px;
          height: 25px;
        }
      }
    }
  }

  .site-layout-background {
    background: #FFFFFF;
  }
}