.backStage-strategy-main {
  height: 100%;
  overflow-y: auto;

  .strategy-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    .dt-search {
      width: 350px;
      margin-right: 25px;
    }

    .add-input {
      width: 250px;
      margin-right: 25px;
    }
  }

  .tags-div {
    background-color: #FFFFFF;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 25px;
    height: calc(100vh - 350px);
    margin-bottom: 15px;

    .ant-tag {
      margin-bottom: 15px;
    }
  }
}