.home-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 99;

  .title {
    display: flex;
    flex-direction: column;

    p {
      color: #FFFFFF;
      margin: 0 0 0 10px;
      font-weight: 600;
      font-size: 14px;
      line-height: normal;
    }
  }
}

.header-lucency {
  background: rgba(0, 0, 0, 0) !important;
}