.register-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);

  .form-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 775px;
    padding: 50px 0;
    background-color: #FFFFFF;

    .login-text {
      display: flex;
      font-size: 12px;
      position: relative;
      top: -35px;
      right: -320px;
    }

    h1 {
      position: relative;
      top: -20px;
      font-size: 28px;
      font-weight: bold;
    }

    form {
      width: 540px;

      button,
      .ant-form-item-control-input {
        width: 370px;
      }

      .checkbox-text {
        label {
          font-size: 10px !important;
          position: relative;
          top: -25px;
        }
      }
    }
  }
}