.backStage-infoBase-main {
  height: 100%;
  overflow-y: auto;

  .infoBase-header {
    display: flex;
    margin-bottom: 15px;

    .dt-search {
      width: 350px;
      margin-right: 25px;
    }

    .dt-rangepicker {
      background-color: #FFFFFF !important;
      box-shadow: rgba(6, 14, 26, 0.08) !important;
      border-radius: 2px;
    }
  }

  .auto-table {
    .ant-table-content {
      height: 410px !important;
      overflow-y: auto;
    }
  }
}